<footer>
    <p>Photo by
        <a href="<%= randomImageData.links.html %>" target="_blank" style="color: white;">
            <%= randomImageData.user.name  %>
        </a> on Unsplash
    </p>
    Picture updates every 3 minutes.
    <p>
        <a href="https://www.flaticon.com/free-icons/planet" title="planet icons" target="_blank" style="color: white;">Planet icons created by Freepik - Flaticon</a>
    </p>
</footer>

<script src="/js/script.js"></script>