<footer>
    <p>Photo by
        <a href="<%= randomImageData.links.html %>" target="_blank" style="color: white;">
            <%= randomImageData.user.name  %>
        </a> on Unsplash
    </p>
    Picture updates every 3 minutes.
</footer>

<script src="/js/script.js"></script>