<main>
<br>
<nav>
    <a href="/">Home</a>
    <a href="/nasa">NASA Pic of Day</a>
    <select id="nav-dropdown" class="nav-dropdown">
        <option value="" selected disabled>Choose a planet</option>
        <option value="/mercury">Mercury</option>
        <option value="/venus">Venus</option>
        <option value="/earth">Earth</option>
        <option value="/mars">Mars</option>
        <option value="/jupiter">Jupiter</option>
        <option value="/saturn">Saturn</option>
        <option value="/uranus">Uranus</option>
        <option value="/neptune">Neptune</option>
    </select>
</nav>
<br>