<%- include('partials/head.ejs') %>


<body>
<div class="container">
<h1>The Solar System</h1>

<%- include('partials/nav.ejs') %>

<h2>Welcome to the solar system!</h2><br>
<h3 id="indexInfo">Click on a planet for more information</h3><br>
</main>
<%- include('partials/footer.ejs') %>
</div>
</body>

</html>