<%- include('partials/head.ejs') %>

<body>
<h1>The Solar System</h1>

<%- include('partials/nav.ejs') %>

<h2>Jupiter</h2>

<%- include('partials/planetInfo.ejs') %>

<%- include('partials/footer.ejs') %>
</body>

</html>